<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!--注意：这里需要添加-->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<!--<section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>-->
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
	</configSections>
	
	<unity configSource="XmlConfig\ioc.config" />
	<connectionStrings configSource="XmlConfig\database.config" />
	<log4net configSource="XmlConfig\log4net.config" />
	
	<appSettings>
		<add key="SaveImageDir" value="Output\"/>
	</appSettings>
	
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>


</configuration>

